// Spacing
$sizeUnit: rem;
$marginKey: "m";
$paddingKey: "p";
$separator: "-";
$sizes: (
  ("none", 0),
  ("xxs", 0.125),
  ("xs", 0.25),
  ("sm", 0.5),
  ("md", 1),
  ("lg", 2),
  ("xl", 4),
  ("xxl", 7)
);
$positions: (("t", "top"), ("r", "right"), ("b", "bottom"), ("l", "left"));

@function sizeValue($key, $value) {
  @return if($key== "none", 0, $value + $sizeUnit);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);

  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue) !important;
  }

  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue) !important;
  }

  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);

    .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }

    .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
  }
}

.iResponsive {
  max-width: 100%;
  display: block;
}

.max {
  &-lg {
    max-width: 1000px;
  }
  &-md {
    max-width: 800px;
  }
  &-sm {
    max-width: 520px;
  }
  &-xs {
    max-width: 240px;
  }
  &-ts {
    max-width: 100px;
  }
}
.img-fluid {
  width: 100%;
  height: auto;
}
.img-max {
  max-width: 100%;
  height: auto;
}
.fs {
  &-xxl {
    font-size: rem(70px) !important;
    @include media-breakpoint-down(md) {
      font-size: rem(50px) !important;
    }
  }
  &-xl {
    font-size: rem(40px) !important;
    @include media-breakpoint-down(md) {
      font-size: rem(35px) !important;
    }
  }

  &-lg {
    font-size: rem(25px) !important;
    @include media-breakpoint-down(md) {
      font-size: rem(20px) !important;
    }
  }
  &-md {
    font-size: rem(20px) !important;
  }
  &-sm {
    font-size: rem(16px) !important;
    @include media-breakpoint-down(lg) {
      font-size: rem(14px) !important;
    }
    @include media-breakpoint-down(md) {
      font-size: rem(12px) !important;
    }
  }
  &-xs {
    font-size: 10px !important;
  }
}

.fw {
  &-thin {
    font-weight: 300;
  }
  &-normal {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-semiBold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
}

.lh {
  &-lg {
    line-height: rem(35px);
    @include media-breakpoint-down(md) {
      line-height: rem(30px);
    }
  }
}



.text {
  &-gray {
    color: $gray-500 !important;
    &-400 {
      color: $gray-200 !important;
    }
  }
}

.text-underLine {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    right: 0rem;
    width: 4rem;
    height: 0.15rem;
    border-radius: 1em;
    background-color: $secondary;
  }
  &-secondary {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0.3rem;
      right: 0rem;
      width: 100%;
      height: 0.4rem;
      border-radius: 0em;
      background-color: $secondary;
    }
  }
}


